.sun-brand-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sun-brand-header-start,
.sun-brand-header-end {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sun-brand-header-start {
  gap: 12px;
}

.sun-brand-header-end {
  justify-content: flex-end;
  gap: 16px;
}

