<header class="sun-brand-header" fxLayout="row" fxLayoutAlign="space-between center">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
    <button mat-icon-button aria-label="Toggle navigation" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <img *ngIf="brand" class="sun-brand-logo" src="assets/brands/{{ brand.cssKey }}-logo.svg"
         alt="{{ brand.displayName }}">
    <span class="sun-brand-title">Claims lodgement</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
    <span class="sun-brand-phone" *ngIf="brand">Claims {{ brand.contactNumber }} &middot; {{ brand.claimsHours }}</span>
    <span class="sun-consultant" *ngIf="consultantName">{{ consultantName }}</span>
  </div>

</header>
